body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2 {
    color: rgb(7, 87, 11);
    font-family: 'Courier New';
}

h1 {
    
    font-size: 40px;
    
}

h2 {
    font-size: 30px;
}

.main-text {
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}

.author-text {
    font-size: 22px;
}