* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2 {
    color: rgb(7, 87, 11);
    font-family: 'Lucida Sans';
}

h1 {
    
    font-size: 40px;
    margin-bottom: 20px;
    
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.main-text {
    font-size: 16px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post {
    background-color: #0000ff;
    width: 75%;
    float: left;
}

.other-posts {
    background-color: green;
    width: 25%;
    float: left;
}

.author-box {
    background-color: yellow;
    
}