* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    color: rgb(7, 87, 11);
    font-family: 'Lucida Sans';
}

h1 {
    
    font-size: 40px;
    margin-bottom: 20px;
    
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

h3 {
    font-size: 25px;
}

.main-text {
    font-size: 18px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
    margin-bottom: 20px;
}

.author-text {
    font-size: 22px;
    float: left;
    padding-top: 30px;
    margin-left: 20px;
    margin-bottom: 7%;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
    border-right: 1px solid #262626 ;
}

.other-posts {
    font-size: 18px;
    width: 25%;
    float: left;
    padding-left: 10px;
}

.author-box {
    /*background-color: yellow;*/
    border-top: 1px solid #808080;
    padding-top: 20px;
    margin-bottom: 30px;
}

.other{
    margin-bottom: 10px;
}

.ullist {
    margin-bottom: 15px;
    padding-left: 20px;
}

.list-link {
    margin-top: 30px;
    margin-bottom: 20px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
    margin-left: 250px; 
    margin-bottom: 30px;
}

.date {
    font-size: 18px;
    color: #063d04;
    position: absolute;
    top: 20px;
    right: 40px;
}

.weblink {
    padding-bottom: 20px;
}
